{% extends "tethys_apps/app_base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}


{% block title %}{{ tethys_app.name }}{% endblock %}
{% block app_icon %}<img src="{% static tethys_app.icon %}">{% endblock %}


{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block header_buttons %}
{#    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Visualizar Ultimo Informe">#}
{#        <a data-toggle="modal" data-target="#simulation-modal"><span class="glyphicon glyphicon-list-alt"></span></a>#}
{#    </div>#}
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Instrucciones Para Esta Pagina">
        <a data-toggle="modal" data-target="#pageinstructions-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Sincronizar Datos con Google">
        <a onclick="updatesheet()"><span class="glyphicon glyphicon-refresh"></span></a>
    </div>
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Ver una Tutoría en YouTube">
        <a href="{{ youtubelink }}" target="_blank"><span class="glyphicon glyphicon-play-circle"></span></a>
    </div>
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Reportar Problemas en el App">
        <a href="https://github.com/rileyhales/embalses/issues" target="_blank"><span class="glyphicon glyphicon-exclamation-sign"></span></a>
    </div>
{% endblock %}


{% block after_app_content %}
{#    <div class="modal fade" id="simulation-modal" tabindex="-1" role="dialog" aria-labelledby="simulation-modal-label">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                            aria-hidden="true">&times;</span></button>#}
{#                    <h5 class="modal-title" id="simulation-modal-label">Resultados del Simulacion</h5>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <div id="simulationresults">No results to be shown</div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
{#                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}


{% block app_navigation_items %}

    {% url 'embalses:home' as home_url %}
    {% url 'embalses:reportar' as reportar_url %}
    {% url 'embalses:instrucciones' as instrucciones_url %}
    {% url 'embalses:simulations' as simulaciones_url %}
    {% url 'embalses:reportes' as reportes_url %}

    <li class="title">Navigación</li>
    <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Mapa y Sumario</a></li>

    {% if admin %}
        <li class="{% if request.path == reportar_url %}active{% endif %}"><a href="{{ reportar_url }}">Reportar Niveles</a></li>
    {% endif %}
    <li class="{% if request.path == instrucciones_url %}active{% endif %}"><a href="{{ instrucciones_url }}">Instrucciones Para El App</a></li>

    <!-- The page for forcasts -->
    <li class="title">Simulaciones y Prevision</li>
    <li class="{% if request.path == simulaciones_url %}active{% endif %}"><a href="{{ simulaciones_url }}">Pronósticos Breves</a></li>

    <!-- generate links to pages for each of the reservoirs -->
    <li class="title">Datos Historicos y Estatisticas</li>
    {%if urls%}         <!-- if the controller returned a urls object, then for each one make an entry -->
        {% for url in urls %}
          <li class="{% if url.active %}active{% endif %}"><a href="{{ url.url }}">{{url.name}}</a></li>
        {% endfor %}
    {%endif%}
{% endblock %}


{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}


{% block content_dependent_styles %}
  {{ block.super }}
    <!-- styling for leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />

    <!-- Tabulator styling You can change tabulator_site for tabulator_ simple, midnight, modern, or just tabulator.min -->
    <link href="https://unpkg.com/tabulator-tables@4.2.0/dist/css/tabulator_site.min.css" rel="stylesheet">

    <!-- App specific styling scripts -->
    <link href="{% static 'embalses/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
     <script>
      var apiServer = "{% url 'embalses:home' %}";
    </script>
    <!-- Allows csrf verification with AJAX -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- Tabulator for JS tables -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.2.0/dist/js/tabulator.min.js"></script>
    {# Moment.js for dates/times in javascript #}
    <script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js"></script>

    <!-- Script for Leaflet -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <!-- Esri with leaflet -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>

    <!-- script for using highcharts (display timeseries plot) -->
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <!-- Use this to export data from highcharts as csv, jpeg, etc -->
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Use this to show loading functions and placeholders -->
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

    <!-- script generated for the app -->
    <script type="text/javascript" src="{% static 'embalses/js/locations.js' %}"></script>
    <script type="text/javascript" src="{% static 'embalses/js/tabulator.js' %}"></script>
    <script type="text/javascript" src="{% static 'embalses/js/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'embalses/js/highchart.js' %}"></script>
    <script type="text/javascript" src="{% static 'embalses/js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'embalses/js/main.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128273217-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-128273217-2');
    </script>
{% endblock %}