{% extends "embalses/base.html" %}

{% block app_content %}
<h2>How To Use This Application</h2>

Features
<ul>
    <li>View summary data and maps (Maps and Summary Page)</li>
    <li>Report daily levels and view tabulated levels (Report Levels Page)</li>
    <li>Make simple simulations of water levels based on forecasted use and inflow</li>
    <li>Pages for each reservoir with charts of historical data and statistics</li>
</ul>


Things that need to be here
<ul>
    <li>links to youtube videos</li>
    <li>english and spanish instructions</li>
    <li>step by steps for each of the functions</li>
</ul>
{% endblock %}
