{% extends "embalses/base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
    <h2 style="text-align: center">Datos Summarios y Estatisticas para {{name}}</h2>
    <div id="chartwrapper" style="width: 100%; margin-left: auto; margin-right: auto">
        <div id="hist_data_chart" style="width: 50%; float: left"></div>
        <div id="storagecapacity" style="width: 50%; float: left;"></div>
    </div>
    
    <div id="columnswrapper" style="width: 75%; margin-left: auto; margin-right: auto">
        <div style="float: left; width:32%; margin: 1px">
            <div id="volumes"></div>
        </div>
        <div style="float: left; width: 32%; margin: 1px">
            <div id="elevations"></div>
        </div>
        <div style="float: left; width: 32%; margin: 1px">
            <div id="averages"></div>
        </div>
    </div>

{% endblock %}

{% block after_app_content %}
    <div class="modal fade" id="pageinstructions-modal" tabindex="-1" role="dialog" aria-labelledby="pageinstructions-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="pageinstructions-modal-label">Instrucciones para esta página</h5>
                </div>
                <div class="modal-body">
                    <div id="pageinstructions">
                        <p>
                            Esta página tiene dos graficas con las datos de elevación históricos y batimétricos. También hay
                            unas estatisticas sobre el embalse.
                        </p>
                        <p>
                            Hay una tutoría del app <a href="{{ youtubelink }}" target="_blank">su YouTube</a>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const resName = "{{name}}";
    </script>
    {{ block.super }}
{% endblock %}