{% extends "embalses/base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
    <h3>Escoger un Embalse</h3>
    {% gizmo select_input res_list %}
    <div id="outflowTable"></div>
    <div id="calculatebutton" style="text-align: center"></div>
    <div id="simulationresults" style="text-align: center"></div>

    {# this div not currently used, will hold the historical context variables #}
    <div id="simPgStats" style="text-align: center"></div>
{% endblock %}
